# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log



# Build directories
/thintank-proj/frontend/build/
/thintank-proj/backend/target/

# Logs
logs/
*.log


# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*~
